input, textarea {
    padding: 3px;
    margin: 8px 0;
    width: 35%;
    background-color: #ffffff;
    border: #56707f solid 2px;
    border-radius: 5px;
    color: #000000
}

select {
    background-color: #ffffff;
    border: #56707f solid 2px;
    color: #000000
}

input[type="checkbox"], input[type="radio"] {
    width: 32px;
}



input[type="button"],input[type="submit"],input[type="checkbox"], input[type="radio"], select:hover {
    cursor: pointer;

}

textarea {
    height: 15em;
}
.home{
    color: black;
    float: right;
    font-size: 2em;
}
h1{
    font-size: 3em;
    color: dimgrey;
}
h1:hover{
    color: white;
}
.main{
    background-color: white;
    margin: 40px 500px;
    box-shadow: 2px 6px 8px rgba(0,0,0,.75);
    padding-left: 50px;
}
form{
    background-color: white;
}
.label{
    display: inline-block;
    width: 6em;
    float: left;
    text-align: right;
    vertical-align: top;
    margin-right: 15px;
    background-color: white;
}
.button{
    width: 200px;
    padding:8px;
    background-color: #f6f6f6;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    margin-bottom: 20px;
}
.button:hover{
    background-color: aliceblue;
}
.area{
    width: 35%;
    text-align: center;
}
textarea{
    width:600px;
}